.loader {
  display: inline-block;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  margin-left: 50%;
  margin-top: 40px;
  border-radius: 50%;
  border-top: 3px solid #a41111;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
  justify-content: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 