:root {
  --general-blue: #3077c6;
  --bg-color: #eaf0f9;
  --animation-color: #f5bd41;
  --main-text: #383838;
}

.homes {
  background-color: var(--bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
  /*margin: 0 auto;*/
}

.homes__examples {
  position: relative;
  max-width: 1232px;
  gap: 16px;
  display: flex;
  justify-content: center;
  margin: 106px auto 0;
  flex-wrap: wrap;
}
