/*<<<<<<<<<<<<<<<<<<<<   MODAL WINDOW TO FORM PEOPLES INPUT   >>>>>>>>>>>>>>>>>>>>>>>>>>*/
:root {
  --general-blue: #3077c6;
}

.persons {
  display: none;
  z-index: 2;
}

.persons__inputs {
  /* flex-direction: column; */
  margin-top: 10px;
  width: 260px;
  border-radius: 8px;
  padding: 24px 24px 16px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0.2px #808080ff;
  position: absolute;
  top: 100%;
  left: 60%;
}
.active {
  display: block;
}
.adults__input,
.children__input,
.rooms__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 30px;
  width: 30px;
  color: var(--general-blue);
  border: 1px solid var(--general-blue);
  background-color: #ffffff;
  font-size: 20px;
}
.btn--disabled {
  color: rgb(171, 137, 137);
  border: 1px solid #808080ff;
  opacity: 0.5;
}
.output {
  display: block;
  text-align: center;
  width: 40px;
  margin: 4px;
}
.children__age {
  display: none;
  border: 1px solid var(--general-blue);
  height: 30px;
}
.children__active {
  display: block;
  margin-bottom: 10px;
  margin-left: -4px;
  width: 100px;
  font-size: 12px;
}
.children__input--subtitle {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
  width: 200px;
}
.toggle {
  display: flex;
}
